header {
    width: 100vw;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(255, 182, 193);
}
nav ul {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    background-color: rgb(29, 6, 6);
}

nav li {
    padding: 0.3rem 1rem;
    list-style: none;
} 
nav a {
    text-decoration: none;
    color: rgb(255, 182, 193);
}
.titulo{
    font-size: 3rem;
}