/* phone-portrait */
@import url("menu-mobile.css") only screen and (max-width : 567px);
@import url("menu-desktop.css") only screen and (min-width: 568px);

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0.5rem !important;
    font-size    : 0.8rem;
}

@media (max-width:567px) {
    main {
        padding-top: 80px;
    }
    .productos {
        padding-top: 5.6rem!important;
    }
    #contactar {
    padding-top: 5rem;
    }
}
@media (min-width:568px) {
    main {
        padding-top: 60px;
    }
}

.titulo {
    font-family: 'Pattaya', sans-serif;
}


/* Targuets */

#acercade {
    display: none;

}
#acercade:target {
    display: block;   
}

#mproductos {
    display: none;

}
#mproductos:target {
    display: block;   
}
#contactar {
    display: none;
}
#contactar:target {
    display: block;
}